<<<<<<< HEAD
{% for user in users %}
    <tr>
        <td>{{ user.firstname }} {{ user.lastname|upper }}</td>
        {#        <td>{{ user.lastname }}</td> #}
        <td>{{ user.email }}</td>
        {#        <td>{{ user.telephone }}</td> #}
        <td>{{ user.campus.nom }}</td>
        <td>{{ user.role.name }}</td>
        <td>
            <section class="userList-actions">
                <a href="{{ path('admin_modify_user', {'id': user.id}) }}" class="userList-action-edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span>Edit</span>
                </a>

=======
<table class="table">
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.campus.nom }}</td>
            <td>{{ user.role.name }}</td>
            <td>
                <a href="{{ path('admin_modify_user', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
>>>>>>> 698b3a8099e3c5a406c53e14ec3ee174780c5b8e
                {% if user.role.name != 'ROLE_ADMIN' %}
                    <a href="{{ path('admin_delete_user', {'id': user.id}) }}" class="userList-action-suppress">
                        <i class="fa-solid fa-square-xmark"></i>
                        <span>Remove</span>
                    </a>

                {% else %}
{#                    <i class="fa-solid fa-ban"></i>#}
                {% endif %}
            </section>
        </td>
    </tr>
{% endfor %}

{# Suspicions de bon fonctionnement #}
{# <div id="loading" class="d-none"> #}
{#    Loading... #}
{# </div> #}
