{% extends 'admin/dashboard.html.twig' %}

{% block title %}Suppression d'utilisateur  | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Suppression d'utilisateur</h1>

    <p>Êtes-vous sûr de vouloir supprimer l'utilisateur {{ user.email }} ?</p>

    <form method="post" action="{{ path('admin_confirm_delete', {'id': user.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <a href="{{ path('admin_list_user') }}" class="btn btn-default">Annuler</a>
        <input type="submit" value="Supprimer" class="btn btn-danger">
    </form>
{% endblock %}


