{% extends 'admin/dashboard.html.twig' %}

{% block title %}
    {{ parent() }} | Modifying {{ user.pseudo }}
{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <h1>Modifying {{ user.pseudo }}</h1>
        <div class="form-container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
        </div>

        <section class="generic-actions-buttons-section">
            <button type="submit" class="button-positive-action">
                Save modifications
            </button>
        </section>
        {{ form_end(form) }}
    </div>
{% endblock %}

