{% block navbar %}
    <nav>
        <ul>
            <li><a href="{{ path('outing_list') }}">Homepage</a></li>
            <li><a href="{{ path('admin_dashboard') }}">Admin</a></li>
            <li><a href="{{ path('admin_list_user') }}">Users</a></li>
            <li><a href="{{ path('admin_city_list') }}">Cities</a></li>
            <li><a href="{{ path('admin_campus_index') }}">Campus</a></li>
            <li><a href="{{ path('admin_place_list') }}">Places</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
    </nav>
{% endblock %}