{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-form">
        <form method="post">
            {# ERROR MESSAGE(S) #}
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                <div>{{ error.message() }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            {# TITLE #}
            <h2 class="login-form-title">Please sign in</h2>

            {# FORM FIELDS #}
            <section class="login-fields">
                {# EMAIL FIELD #}
                <label for="inputUsername" class="login-fields-title">Username</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                       class="form-control" placeholder="Type your username" autocomplete="inputUsername" required autofocus>

            {# PASSWORD FIELD #}
                <label for="inputPassword" class="login-fields-title">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Type your password"
                       autocomplete="current-password" required>
            </section>

            {# CSRF TOKEN #}
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>

            {# SUBMIT BUTTON #}
            <input type="submit" class="btn" value="Sign in">
        </form>
    </div>

{% endblock %}
