{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="form-block">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                <div>{{ error.message() }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2 class="form-title">Please sign in</h2>
            <label for="inputEmailOrPseudo">Email or Pseudo</label>
            <input type="text" value="{{ last_username }}" name="emailOrPseudo" id="inputEmailOrPseudo" class="form-control" autocomplete="inputEmailOrPseudo" required autofocus>
            <br>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <br>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <input  type="submit" class="btn" value="Sign in">

        </form>

    </div>

{% endblock %}
