{% extends 'base.html.twig' %}


{% block title %}{{ parent() }}{% endblock %}

{% block body %}

    <div class="filter-outings">
        <h3 class="filters-title" >Filters</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit"value="Filter">
        {{ form_end(form) }}
    </div>

    <div class="outing-container">

        <section class="outings-list">
            {% for outing in outings %}
                <article class="outing-card">
                    <h3 class="outing-title"><a href="{{ path('outing_detail', {id: outing.id}) }}">{{ outing.nom }}</a></h3>
                    <div class="outing-text">
                        <div>Date et heure de début : le {{ outing.dateHeureDebut | date('d/m/y') }} à {{ outing.dateHeureDebut | date('H:i') }}</div>
                        <div>Inscription possible jusqu'au : {{ outing.dateLimiteInscription | date('d/m/y')}} à {{ outing.dateLimiteInscription | date('H:i') }}</div>
                        <div>Inscrits/Places : {{ outing.attendees.count }}/{{ outing.nbInscriptionMax }}</div>
                        <div>Durée : {{ outing.formattedDuration }}</div>
                        <div>Lieu : {{ outing.place.nom }}</div>
                        <div>Campus : {{ outing.campus.nom }}</div>
                        <div>Status : {{ outing.status.libelle }}</div>
                    </div>

                    {% if app.user and outing.status.libelle == 'Ouverte' and outing.dateLimiteInscription > 'now'|date('Y-m-d H:i:s') %}
                        {% if app.user in outing.attendees %}
                            <a href="{{ path('outing_confirm_unregister', {id: outing.id}) }}" class="btn btn-warning">Se désister</a>
                        {% else %}
                            <a href="{{ path('outing_register', {id: outing.id}) }}" class="btn btn-primary">S'inscrire</a>
                        {% endif %}
                    {% endif %}

                    {% if app.user == outing.organizer and outing.status.libelle == 'Créée' %}
                        <a href="{{ path('outing_edit', {id: outing.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('outing_publish', {id: outing.id}) }}" class="btn btn-primary">Publier</a>
                        <a href="{{ path('outing_cancel', {id: outing.id}) }}" class="btn btn-danger">Annuler</a>
                    {% endif %}
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}