{% extends 'base.html.twig' %}


{% block title %}{% endblock %}

{% block body %}
    <section>
        {% for outing in outings %}
        <article>
            <h3>{{ outing.nom }}</h3>
            <div>le {{ outing.dateHeureDebut | date('d/m/y') }} à {{ outing.dateHeureDebut | date('H:i') }}</div>
            <div>limite d'inscription : {{ outing.nbInscriptionMax }}</div>
            <div>{{ outing.etat }}</div>
        </article>
        {% endfor %}
    </section>

{% endblock %}



