{% extends 'base.html.twig' %}


{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <section>
        {% for outing in outings %}
            <article>
                <h3>{{ outing.nom }}</h3>
                <div>Date et heure de début : le {{ outing.dateHeureDebut | date('d/m/y') }} à {{ outing.dateHeureDebut | date('H:i') }}</div>
                <div>Limite d'inscription : {{ outing.nbInscriptionMax }}</div>
                <div>Durée : {{ outing.formattedDuration }}</div>
                <div>Lieu : {{ outing.place.nom }}</div>
                <div>Campus : {{ outing.campus.nom }}</div>
            </article>
        {% endfor %}
    </section>

{% endblock %}