{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <h1>{{ place.nom }}</h1>
    <p>Adresse : {{ place.rue }} {{ place.city.codePostal }} {{ place.city.nom }}</p>
    <p>GPS : Latitude: {{ place.latitude }} / Longitude: {{ place.longitude }}</p>

    <div id="mapId"></div>


    <a href="{{ path('place_list') }}">Retour à la liste</a>
{% endblock %}

{% block title %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JS/map/placeDetailsMap.js') }}"></script>
    <script type="text/javascript">
        // Use the Twig variable in JavaScript
        showPlaceDetailMap({{ place.latitude }}, {{ place.longitude }}, "{{ place.nom }}", "{{ place.rue }}");
    </script>
{% endblock %}