{% extends 'admin/dashboard.html.twig' %}

{% block body %}
    <h1>Liste des lieux</h1>

    <a href="{{ path('admin_place_add') }}">Ajouter un lieu</a>  <!-- Changer 'place_new' par le nom de la route d'ajout -->

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Rue</th>
            <th>Actions</th> <!-- Colonne pour les boutons d'action -->
        </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.nom }}</td>
                <td>{{ place.rue }}</td>
                <td>
                    <a href="{{ path('admin_place_detail', { 'id': place.id }) }}">Details</a>
                    <a href="{{ path('admin_place_edit', { 'id': place.id }) }}">Modifier</a>
                    <a href="{{ path('admin_place_delete', { 'id': place.id }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}