{% extends 'base.html.twig' %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/admin/dashboard.css') }}">
{% endblock %}

{% block navbar %}
    {% include('admin/inc/nav.html.twig') %}
{% endblock %}

{% block title %} {{ parent() }} Admin Panel{% endblock %}

{% block body %}
    <div class="dashboard-wrapper">
        <div class="dashboard-container">

            <div class="dashboard-nav">
                <ul id="dashboard-buttons">
                    <li class="dbc-selected">
                        <button title="Display all cities">
                            Users
                        </button>
                    </li>
                    <li>
                        <button title="Display all cities">
                            Cities
                        </button>
                    </li>
                    <li>
                        <button title="Display all campuses">
                            Campuses
                        </button>
                    </li>
                </ul>
            </div>

            <div class="dashboard-main">
                <div class="dashboard-content">
                    <section class="content-title">Users</section>

                    <section class="list-actions">
                        <section class="list-actions">
                            <form id="filter-form" class="d-none">
                                {{ form_start(filter_form) }}
                                <div class="filter-field">
                                    {{ form_row(filter_form.role) }}
                                    {{ form_row(filter_form.campus) }}
                                </div>
                                <div class="sort-field d-none">
                                    {{ form_row(filter_form.sort) }}
                                </div>
                                {{ form_end(filter_form) }}
                            </form>
                        </section>

                        <section class="list-actions-section">
                            <button id="filter-button" class="list-actions-button">
                                Filter
                            </button>
                            <button id="sort-button" class="list-actions-button">
                                Sort
                            </button>
                        </section>

                    </section>

                    <div id="dashboard-contents-parent">
                        <section class="section">
                            {% include 'admin/user/list_user.html.twig' %}
                        </section>

                        <section class="section">
                            {% include 'admin/city/city_list.html.twig' %}
                        </section>

                        <section class="section">
                            {% include 'admin/campus/index.html.twig' %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JS/adminUserListHandler.js') }}"></script>
{% endblock %}