{% extends 'admin/dashboard.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
    <h1>Users list</h1>

    {{ form_start(filter_form) }}
    {{ form_row(filter_form.role) }}
    {{ form_row(filter_form.campus) }}
    {{ form_row(filter_form.sort) }}
    {{ form_end(filter_form) }}

    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Campus</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
        <div class="table-list-container">
            <table class="table">
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.telephone }}</td>
                        <td>{{ user.campus.nom }}</td>
                        <td>{{ user.role.name }}</td>
                        <td>
                            <a href="{{ path('admin_modify_user', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
                            {% if user.role.name != 'ROLE_ADMIN' %}
                                <a href="{{ path('admin_delete_user', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a>
                            {% else %}
                                {#<span class="btn btn-danger disabled">Supprimer</span>#}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

