{% extends 'base.html.twig' %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/admin/dashboard.css') }}">
{% endblock %}

{% block title %}
    {{ parent() }} | Create new place
{% endblock %}

{% block body %}
    <div class="data-view-wrapper">
        <div class="data-view-container">
            <div class="data-view-action-content">
                <h1 class="data-view-action-title">
                    Create new Place
                </h1>

                <div class="data-view-add-form">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <div id="suggestions"></div>

                    <button type="submit">
                        Save
                    </button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="data-view-bottom-section">
            <a href="{{ path('outing_create') }}" class="button-back">
                Cancel
            </a>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/placeDatasOSMNominatimAPI.js') }}"></script>
        <script src="{{ asset('js/test.js') }}"></script>

        <script>
            $(document).ready(function() {
                $('#outing_city').change(function() {
                    var cityId = $(this).val();
                    $.ajax({
                        url: '/places/' + cityId,
                        type: 'GET',
                        dataType: 'json',
                        success: function(data) {
                            var $placeSelect = $('#outing_place');
                            $placeSelect.html('<option value="">Choisir un lieu</option>');
                            for (var i = 0; i < data.length; i++) {
                                $placeSelect.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                            }
                        }
                    });
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#outing_place optgroup').each(function () {
                    var cityId = $(this).find('option:first').attr('class').split('-')[1];
                    $(this).addClass('city-' + cityId);
                });
            });
        </script>
    {% endblock %}
