{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier un lieu</h1>

    <form method="post" action="{{ path('place_edit', { 'id': place.id }) }}">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div id="suggestions"></div>

        <button class="btn btn-primary">{{ button_label|default('Update') }}</button>
        {{ form_end(form) }}
    </form>

    <a href="{{ path('place_list') }}">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/placeDatasOSMNominatimAPI.js') }}"></script>
    <script src="{{ asset('js/test.js') }}"></script>
{% endblock %}
