{% extends 'admin/dashboard.html.twig' %}

{% block title %}
    {{ parent() }} | Editing {{ city.nom }}
{% endblock %}

{% block body %}
    <div class="editing-data-form-wrapper">
        <h1>Editing {{ city.nom }}</h1>

        <div class="editing-data-form-container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
        </div>

        <section class="generic-actions-buttons-section">
            <button type="submit" class="button-positive-action">
                Save modifications
            </button>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}

