<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>

    {#  Stylesheets  #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ asset('css/scrollbar.css') }}">
    {#  Favicon  #}
    <link rel="icon" href="{{ asset('img/Plan-B.gif') }}">

    {#  Fonts  #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">

    {#  Scripts  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    {% block extrastyles %}{% endblock %}
</head>

<body>

    <div class="preload" data-preload>
        <div class="circle"></div>
        <p class="text">Sortir.com</p>
    </div>

    <div class="container">
        <header>
            <h1><a href="{{ path('app_main') }}"><img src="{{ asset('img/Plan-B.gif') }}" alt="Logo">Sortir !</a></h1>
            <h2>Pour aller ou ? 🤷</h2>
            {% block navbar %}
                {% include('inc/nav.html.twig') %}
            {% endblock %}
        </header>

        {# Flash messages section #}
        <section class="flash-messages">
            {% for message in app.flashes('success') %}
                <div class="alert-success" style="background-color: #2f9e98">
                    {{ message }}
                </div>
            {% endfor %}
        </section>

        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <main>
            {%  block body %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="copyright">&copy; {{ "now"|date("Y") }} PLANB | <a href="https://www.eni-ecole.fr/" target="_blank">@ENI-Ecole Informatique</a> |
                <a href="https://github.com/PxL1337/ProjetSortir" target="_blank"><i class="fa-brands fa-github"></i></a></div>
        </footer>

    </div>

    {% block javascripts %}
        <script src="https://kit.fontawesome.com/bd77a4e8ae.js" crossorigin="anonymous"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}

</body>
</html>
