<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir !{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="icon" href="{{ asset('img/Plan-B.gif') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agdasima&family=Nabla&family=Tektur&display=swap" rel="stylesheet">

    {% block extrastyles %}{% endblock %}
</head>

<body>
<div class="container">
    <header>
        <h1><a href="{{ path('app_main') }}"><img src="{{ asset('img/Plan-B.gif') }}" alt="Logo">Sortir !</a></h1>
        <h2>Pour aller ou ? 🤷</h2>
        {% include('inc/nav.html.twig') %}
    </header>

    {# Flash messages section #}
    <section class="flash-messages">
        {% for message in app.flashes('success') %}
            <div class="alert-success" style="background-color: #2f9e98">
                {{ message }}
            </div>
        {% endfor %}
    </section>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    <main>
        {%  block body %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="copyright">&copy; {{ "now"|date("Y") }} PixDev | <a href="https://www.eni-ecole.fr/">@ENI-Ecole Informatique</a> |
            <a href="https://github.com/PxL1337/series" target="_blank"><i class="fa-brands fa-github"></i></a></div>
    </footer>

</div>

{% block javascripts %}
    <script src="https://kit.fontawesome.com/bd77a4e8ae.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

<div class="loader"></div>

</body>
</html>
