{% extends '/base.html.twig' %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Formulaire de modif</h1>

        {{ form_errors(form) }}

        {{ form_start(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}


    </div>

{% endblock %}
