{% extends '/base.html.twig' %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
       <div class="form-block">
           <h1>Formulaire de modif</h1>

           {{ form_errors(form) }}

           {{ form_start(form) }}
           {{ form_widget(form) }}
           <input type="submit" class="btn" value="Register">
           {{ form_end(form) }}
       </div>



    </div>

{% endblock %}
