{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}



    <h2>Prénom :{{ app.user.firstName }}</h2>
    <h2>Nom :{{ app.user.lastName }}</h2>
    <h2>Téléphone :{{ app.user.telephone }}</h2>
    <h2>Email : {{ app.user.email }}</h2>
    <h2>Campus : </h2>
    <h2>Ma photo</h2><img src="{{ asset('uploads/profile/photos/' ~ app.user.photo) }}" alt="{{ app.user.firstName }}">

    <input type="submit" class="btn" value="Modify">

{% endblock %}