{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


<section class="profile">
    <ul>
        <li>
            <img src="{{ asset('uploads/profile/photos/' ~ app.user.photo) }}" alt="{{ app.user.firstName }}" style="max-width:200px;">
        </li>
        <li><strong>Prénom :</strong> {{ app.user.firstName }}</li>
        <li><strong>Nom :</strong> {{ app.user.lastName }}</li>
        <li><strong>Téléphone :</strong> {{ app.user.telephone }}</li>
        <li><strong>Email :</strong> {{ app.user.email }}</li>
        <li><strong>Campus :</strong></li>
    </ul>

    <input type="submit" class="btn" value="Modify">
</section>
{% endblock %}